@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.auth-bg {
  background: url('../public/images/image2.png')
}

.logo {
  font-family: 'Inspiration', cursive;
}

.mobile.appear {
  left: 0;
}

.author-name {
  font-family: "EB Garamond";
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

.quote {
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-family: Source Serif Pro;
  }

.time {
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-family: Source Serif Pro;
}